<div class="modal fade" id="edit" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editando Cliente</h4>
            </div>
            <div class="modal-body">

                <div class="jumbotron">
                    <form name="formEdit">
                        <input class="form-control" name="descricao" type="text" ng-model="produtoSelecionado.descricao" ng-required="true" placeholder="Descrição do Produto" />

                        <div class="radio">
                            <label><input type="radio" ng-model="produtoSelecionado.tipo" value="Rótulo" name="optradio">Rótulo</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="produtoSelecionado.tipo" value="Pré-Forma" name="optradio">Pré-Forma</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" ng-model="produtoSelecionado.tipo" value="Produto Acabado" name="optradio">Produto Acabado</label>
                        </div>

                        <button type="button" class="btn btn-primary" ng-disabled="formEdit.$invalid" data-dismiss="modal" ng-click="atualizarproduto(produtoSelecionado)">Salvar
                               
                            </button>
                    </form>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





<div class="jumbotron container">
    <form name="form">
        <input class="form-control" name="descricao" type="text" ng-model="objeto.descricao" ng-required="true" placeholder="Descrição do Produto" />

        <div class="radio">
            <label><input type="radio" ng-model="objeto.tipo" value="Rótulo" name="optradio">Rótulo</label>
        </div>
        <div class="radio">
            <label><input type="radio" ng-model="objeto.tipo" value="Pré-Forma" name="optradio">Pré-Forma</label>
        </div>
        <div class="radio">
            <label><input type="radio" ng-model="objeto.tipo" value="Produto Acabado" name="optradio">Produto Acabado</label>
        </div>

        <button type="button" class="btn btn-primary" ng-disabled="form.$invalid" ng-click="salvar(objeto)">Salvar
           
        </button>
    </form>
</div>

<div class="container">
    <form class="form-inline">
        <div class="form-group">
            <label>Procurar</label>
            <input type="text" ng-model="procurar" class="form-control" placeholder="Procurar...">
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-class-odd="'striped'" dir-paginate="n in listaProdutos.slice().reverse() |filter:procurar|itemsPerPage:5">
                <td>{{n.descricao}}</td>
                <td>{{n.tipo}}</td>
                <td><button class="fa fa-edit" data-toggle="modal" data-target="#edit" ng-click="edit(n)"></button></td>
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
</div>